<h2 id="login">Please Login to test</h2>

<% if flash[:alert] %>
	<p class="text-error"><%= flash[:alert]%></p>
<% end %>
<div id="form-test">
	<%= form_tag '/sessions/create' do %>
		<%= hidden_field_tag "hashid", params[:hashid] %>
		<%= label_tag :name %>
		<%= text_field_tag :name, (params[:name] if params[:name] != nil) %><br />
		<%= label_tag :password %>
		<%= password_field_tag :password %><br />
		<%= submit_tag "Login", { :class => "btn btn-primary"} %>
	<% end %>
</div>